{% extends 'main.html' %}

{% block title %} Survey questions {% endblock %}

{% block body %}

<div>
<h2><span style="color: brown;">{{id+1}}</span> - {{ question }}</h2>
<form action="/answer" method="POST">
    <br>
    {% for choice in choices %}
    <input type="radio" id="{{ choice }}" name="answer" value="{{ choice }}" required>
    <label style="cursor: pointer;font-weight: bold;font-size: 18px;" for="{{ choice }}">{{ choice }}</label><br><br>
    {% endfor %}
    <br>
    <input type="submit" value="Next" style="width: 11.5%;font-size: 16px;">
  </form>
</div>
{% endblock %}